$white1: #fff;
$white2: #b4bebd;
$black1: #000;
$black2: #292f36;
$dark-slate-grey1: #1d2126;
$dark-slate-grey2: #3a454d;
$dark-slate-grey3: #292f36;
$turquoise: #23b7a4;
$grey: #8d8f92;
$grey1: #c8cdd0;
$grey2: #d0d5d9;
$grey3: #4e5a62;
$dark-grey: #292f36;
$transparent: rgba(0, 0, 0, 0);
