@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/QuattrocentoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/QuattrocentoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

* {
  margin: 0;
  padding: 0; }

button {
  outline: 0; }

li {
  list-style: none; }

html {
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
  color: #8d8f92; }
  @media (max-width: 768px) {
    html {
      font-size: 0.875rem; } }

body {
  min-width: 320px;
  margin: 0;
  padding-top: 80px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 20px; }

h1 {
  font: 400 2.25rem/2.4375rem "Quattrocento Sans", sans-serif;
  margin-bottom: 22px;
  text-transform: uppercase; }

.color-section h2 {
  font: 400 2.25rem/2.4375rem "Quattrocento Sans", sans-serif;
  margin-bottom: 63px;
  padding-left: 15px;
  border-left: 10px solid #d0d5d9;
  color: #292f36;
  text-transform: uppercase; }

.color-section h3 {
  font: 400 1rem/1.1875rem "Quattrocento Sans", sans-serif;
  margin-bottom: 16px;
  color: #292f36;
  font-weight: 600;
  text-transform: uppercase; }

.color-section--dark {
  background-color: #3a454d; }
  .color-section--dark h2 {
    border-color: #4e5a62;
    color: #fff; }
  .color-section--dark h3 {
    color: #fff; }

p {
  margin-bottom: 35px; }

.btn-holder {
  font-size: 0;
  line-height: 0; }
  .btn-holder--center {
    text-align: center; }

.btn {
  font: 400 0.875rem/1.0625rem "Quattrocento Sans", sans-serif;
  display: inline-block;
  margin-left: 11px;
  padding: 12px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top; }
  .btn:hover {
    border-color: #23b7a4;
    background-color: #23b7a4;
    transition: all .25s ease-out; }
  .btn:first-of-type {
    margin-left: 0; }
