@import "../../styles/globals";

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: $dark-slate-grey1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px 20px;

    img {
        vertical-align: middle;
    }
}
