@import "../../../styles/globals";

.header__menu {
    ul {
      display: flex;
    }

    li {
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }

        @media (max-width: 960px) and (min-width: 769px) {
            margin-left: 5px;
        }
    }
}

.menu__link {
    @include o-sans-400(14, 17);
    padding: 5px 9px;
    border: 2px solid $transparent;
    border-radius: 4px;
    color: $white2;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        border-color: $white2;
        transition: all .3s ease-out;
    }

    &.active {
        border-color: $turquoise;
        color: $turquoise;
    }
}
